*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#toolbar-holder{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    -webkit-app-region: drag;
    background: #2196F3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.option{
    padding: 5px 5px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.toolbar-option{
    padding: 5px 5px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.toolbar-option:hover:first-child{
    background: red;
}

.toolbar-option:hover:nth-child(2){
    background: blue;
}

.toolbar-option:hover:nth-child(3){
    background: green;
}


