<style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }

    #container {
        height: 100%;
        width: 100%;
        font-size: 0;
        background-color: #3F7AFF;
        padding: 20px;
    }

    #left,
    #middle {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle;
        font-size: 12px;
        margin: 8px;
    }

    #left {
        width: auto;
    }

    #left img {
        height: 100px;
    }

    #middle {
        width: auto;
    }

    #middle a {
        text-decoration: none;
        color: white;
        font-size: 30px;
    }

    #middle span {
        text-decoration: none;
        color: white;
        font-size: 13px;
        margin-left: 10px;
    }

    #home-dashboard {
        padding: 25px;
    }
</style>

<div id="container">
    <div id="left">
        <img src="assets/default_profile.png" alt="User Profile">
    </div>
    <div id="middle">
        <div>
            <a>Full name</a>
        </div>
        <span>User Id</span>
    </div>
</div>

<div id="home-dashboard">
    <div class="row">
        <div class="col-sm-4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons">save_alt</i> Saved Documents</span>
                    <p>Documents that you saved</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons">save_alt</i> Saved Documents</span>
                    <p>Documents that you saved</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons">save_alt</i> Saved Documents</span>
                    <p>Documents that you saved</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons">save_alt</i> Saved Documents</span>
                    <p>Documents that you saved</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons">save_alt</i> Saved Documents</span>
                    <p>Documents that you saved</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><i class="material-icons">save_alt</i> Saved Documents</span>
                    <p>Documents that you saved</p>
                </div>
            </div>
        </div>
    </div>
</div>