<style type="text/css">
    #authcontainer {
        background-color: #2196F3;
    }

    #authcontainer a img {
        width: 50px;
        height: 50px;
    }

    .center {
        margin: auto;
        width: 50%;
        padding: 20px;
    }

    #authbody div {
        font-size: 25px;
        margin: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #2196F3;
    }

    a {
        text-decoration: none;
    }

    auths {
        margin: 10px;
    }
</style>

<nav>
    <div id="authcontainer" class="nav-wrapper">
        <a href="#/!" class="brand-logo"><img src="assets/icons/png/icon.png" alt="isdsp logo"></a>
    </div>
</nav>

<div id="authbody" class="center">
    <div>Welcome to ISDSP</div>
    <a href="#!signup"><button class="auths waves-effect waves-light btn-large">Sign Up</button></a>
    <a href="#!signin"><button class="auths waves-effect waves-light btn-large">Sign In</button></a>
</div>