<style type="text/css">
    #signupcontainer {
        background-color: #2196F3;
    }

    .center {
        margin: auto;
        width: 50%;
        padding: 20px;
    }

    .center form {
        margin-top: 20px;
    }

    #signupcontainer a img {
        width: 50px;
        height: 50px;
    }

    #atitle {
        font-size: 25px;
        margin: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #2196F3;
    }

    .input-txt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
    }

    a {
        text-decoration: none;
    }
</style>

<nav>
    <div id="signupcontainer" class="nav-wrapper">
        <a href="#/!" class="brand-logo"><img src="assets/icons/png/icon.png" alt="isdsp logo"></a>
    </div>
</nav>

<div class="center">
    <form>
        <div class="row">
            <span id="atitle">Sign Up (Class Info)</span>
        </div>

        <div class="row">
            <div id="myList"></div>
            <script type="text/javascript">
                var names = ['vitosh', 'academy', 'dot', 'com'];
                var ul = document.createElement('ul');
                document.getElementById('myList').appendChild(ul);

                names.forEach(function (name) {
                    var li = document.createElement('li');
                    ul.appendChild(li);
                    li.innerHTML += name;
                });
            </script>
        </div>
        <div class="row">
            <label>Department</label>
            <select class="browser-default">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="row">
            <a href="#!signup_nxt"><button class="col s12 waves-effect waves-light btn-large">Next</button></a>
        </div>

    </form>
    <div class="row">
        <a href="#!signin" class="col s12 waves-effect waves-light">Already have an account?</a>
    </div>
</div>

<script>

</script>